template(name="assign")
	.panel.panel-primary
		each assignments
			+assignment
		.panel-heading
			h3.panel-title 布置作业
		.panel-body
			form(role="form", action="/assignment", method='POST', class="assign")
				.form-group
					label.control-label(for="ass-name") 作业名称
					input.form-control#ass-name(type="text", placeholder="请输入作业名称", required)
					br
					label 作业要求
					textarea.form-control#ass-require(rows="10", placeholder="请输入作业作业要求", required)
					br
					label.control-label(for="ass-deadline") 截止时间
					input.form-control#ass-deadline(type="date", placeholder="请输入截止时间", required)
					br
					button.btn.btn-success(type="submit") 发布

template(name="assignmentDetail")
	.row
		.panel-heading
			h3.panel-title 所有作业
			.panel.panel-default
				.row
					.col-md-3.h3 作业名称:#{assignment.assName}
					.col-md-2.h3 学生:#{homework.studentName}
					.col-md-3.h3 截止时间:#{assignment.assDeadline}
					.col-md-3.h3 修改时间:#{homework.updateAt}
				.row
					.col-md-2.h3 作业要求:
					.col-md-8.h3 #{assignment.assRequire}
				.row
					.col-md-2.h3 学生提交内容:
					.col-md-8.h3 #{homework.content}
			form(action="/", method="POST")
				.form-group
					label.control-label 评分
					select.form-control#rank(name="rank")
						option(value="A", selected="selected") A
						option(value="B") B
						option(value="C") C
						option(value="D") D
						option(value="E") E
				button.btn.btn-success.submit(type="button") 提交评分
				button.btn.btn-info.return-to-detail(type="button") 作业列表
