#homefull.jumbotron
  .top-holder
  .container.my
    h1 Hello #{user.firstName}
    h3 Your Information
    ul.user-details
      li Username : #{user.username}
      li Email    : #{user.email}
      li First Name : #{user.firstName} 
      li Last Name : #{user.lastName}
