template(name="article")
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") MyHomework
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/allhomework") All->
                    li
                        a(href="/assignmentDetail/#{Assignment._id}")
                            | #{Assignment.title}->
                            
                    li.active
                        a(href="#")
                            | #{Homework.title}
                            span.sr-only (current)
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#") wellcome,
                    li
                        a(href="#") {{> loginButtons}}

    div.container.center-block.templatemo-form-list-container
        div.col-md-12
            .panel.panel-default
                .panel-heading
                    h1#title.panel-title.resetsize #{Homework.title}
                .panel-body.addminheight
                    p.premessage last edited by @#{Homework.author}.
                    h2 Answer
                    p #{Homework.details}
            .alert.alert-info(role="alert")
                strong Grade:
                strong#score1(deadline="#{Assignment.deadline}").addmargin #{Homework.score}
                if isAuthor
                    button#thebutton.addmargin.btn.btn-default(type="button", data-toggle="modal", data-target=".bs-example-modal-sm") 评分
                    strong#moremessage 
    .modal.fade.bs-example-modal-sm(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &#215;
                    h4.modal-title 评分
                .modal-body
                    input#score(type="text", placeholder="#{Homework.score}")
                .modal-footer
                    button#changescore.btn.btn-primary(type="button", data-dismiss="modal") Ok