template(name="homework")
	div.container
		h3 All Homework(所有作业)
		table.tasklist
			thead
				tr
					th
						strong name
					th
						strong start-date
					th
						strong dead-line
					th
						strong detail
					th
						strong my submission
			thead
			tbody
				tr
					td jjj#{hw.name}
					td ll#{hw.startdate}
					td ll#{hw.deadline}
					td ll#{hw.detail}
					td 
						a(href='/submission/#{hw.name}', class='text-center new-account') my submission
	br
	a(href='/upload', class='text-center new-account') Upload Homework
	a(href='/create', class='text-center new-account') Create Task
	a(href="{{pathFor 'index'}}", class='text-center new-account') Sign Out