template(name="homeworkDetail")
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") MyHomework
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/allhomework") All->
					li.active
						a(href="#")
							| #{Assignment.title}
							span.sr-only (current)
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") wellcome,
					li
						a(href="#") {{> loginButtons}}

	div.container.center-block.templatemo-form-list-container.addmargintop2
		div.col-md-12
			.panel.panel-info
				.panel-heading
					if isAuthor
							button#changetitle.removemarginright.navbar-right.btn.btn-default(type="button", data-toggle="modal", data-target="#exampleModal") Edit
					h1#title.panel-title.resetsize
						| #{Assignment.title}
					a.anchorjs-link(href="#panel-title")
						span.anchorjs-icon

				.panel-body
					p.premessage last edited by @#{Assignment.author}.
					if isAuthor
						button#changebrief.removemarginright.navbar-right.btn.btn-default(type="button", data-toggle="modal", data-target="#exampleModal") Edit
					h2 简介
					p#briefIntroduction #{Assignment.brief}
					br
					if isAuthor
						button#changedetails.removemarginright.navbar-right.btn.btn-default(type="button", data-toggle="modal", data-target="#exampleModal") Edit
					h2 详情
					p#details #{Assignment.details}
					br
					.alert.alert-danger(role="alert")
						strong(style="line-height: 2.2;") Deadline:
						strong#deadline(style="line-height: 2.2;") #{Assignment.deadline}
						if isAuthor
							button.removemarginright.btn.btn-default.navbar-right(type="button", data-toggle="modal", data-target=".bs-example-modal-sm") Edit

			.panel.panel-default
				if isTeacher
					.panel-heading 已提交的作业
					if Homework
						table.table
							thead
								tr
									th #
									th File Name
									th Author
									th score
									th.text-right 
							tbody
								each Homework
									{{> homeworkItem2}}
					else
						.alert.alert-info.resetmargin(role="alert")
							|还没有人提交作业

				else
					.panel-heading.addlinehei 你提交的作业
						strong#moremessage
						a#thebutton1.btn.btn-default.navbar-right.removemarginright(href="/uploadhomework/#{Assignment._id}", role="button") Upload
					if Homework
						table.table
							thead
								tr
									th #
									th File Name
									th score
							tbody
								tr
									th(scope="row") 1
									td
										a(href="/article/#{Homework._id}") #{Homework.title}
									if Homework.score
										td #{Homework.score}
									else
										td none
					else
						.alert.alert-info.resetmargin(role="alert")
							|你还没有提交过作业
					

				
  

	.modal.fade.bs-example-modal-sm(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel", aria-hidden="true")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &#215;
					h4.modal-title Change Deadline
				.modal-body
					input#datetimepicker(type="text", placeholder="#{deadline}")
				.modal-footer
					button#changedeadline.btn.btn-primary(type="button", data-dismiss="modal") Change
	#exampleModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &#215;
					h4#exampleModalLabel.modal-title Edit
				.modal-body
					form
						.form-group
							label.control-label(for="message-text") New content:
							textarea#message-text.form-control
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button#dochange.btn.btn-primary(temp="", type="button", data-dismiss="modal") Change

