template(name='home')
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
					h1.text-center.login-title Welcome #{username}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username ---> #{username}
								li Email    ---> #{email}
								li First Name ---> #{firstName} 
								li Last Name ---> #{lastName}
								li Role  ---> #{role}